body {
    background: url('../images/studio_ghibli.jpg');
    background-size: cover;
    opacity: 0.9;
}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
}

.grid h1{
    font-family: 'Bungee', cursive;
    background-color: rgb(138, 253, 247);
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 2px 0 px;
    border-radius: 50px;
}
.grid #question {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    color: grey
}

#choice0, #choice1, #choice2, #choice3 {
    font-family: 'Satisfy', cursive;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: rgb(143, 250, 241);
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid rgb(143, 250, 241);
    border-radius: 50px;
    margin: 10px 40px 10px 0px; 
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    background-color: rgb(23, 196, 187);
    cursor: pointer;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
#progress{
    color: rgb(0, 173, 165);
    font-size: 18px;
}
#firstBreak {
    margin-bottom: 20px;
}

footer {
    position: fixed
}